
label{
    color: #225079;
}

h3{
    color: #225079;
    text-align: center;
    font-size: 35px;
}

#btn_salvar {
    background-color: #225079;
    border-color: #225079;
}

#txt_senha {
    color: #225079;
}

#enviar {
    background-color: #225079;
    border-color: #225079;
}

#login {
    color: #225079;
}
.geral {

    margin-top: 70px;
    align-items: center;
    margin-left: 12%;

}

#nomeUsuario{
    font-size: 15px;
}
#login{
    padding: 50px;
    padding-left: 30px;
    border-right:  solid 1px;
}

#buttoncurtir{
    background-color: none;
    margin-bottom: 0;
}

#cadastro {
    padding-left: 100px;
}

@media screen and (max-width:600px){ 

    #login {
        margin: 0px;
        padding: 0px;
        border-right: none;
    }

    #cadastro {
        margin: 0px;
        padding: 0px;
        margin-top: 10px;
    }
}
