* {
    Font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.img-circle{
    border-radius: 100%;
    min-height: 30px;
    min-width: 30px;
    height: 40%;
    width: 40%;

}

a{
    font-size: 90%;
}

.img-logo{
    border-radius: 20%;
    width:  60px;
    height: 70px;
    margin-left: 25px;
}

.form-group{
    max-width: 90%;
}
h1.imagempostagem{
    font-size:110%;
}

main {
    background: #ffffff;
}

.header {
    background-color: #225079 ;
}

footer {
    background: #225079;
}

h.nome
{
    font-size: small;
}

p{
    font-size: x-small;
}

p.titulo-postagem{
font-size: 99% !important;

}

img.img-noticias {
    max-width: 90%;
}

h1.sites {
    font-size: 160%;
}
p.card-text{
    font-size: small !important; 
}

p.postagem{
    font-size:110% !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
h1.emalta{
    font-size: large;
    text-align:center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

p.dicas 
{
    font-size: 100%;
}
.img-noticia{
    max-width: 70%;
    max-height: 70%;
    margin-left: 35px;
}

p.noticia {
    font-size: 100%;
}
.container{
    margin-top: 15px;
    margin-bottom:15px;
}

h1.noticias{
    font-size:200%;

}
.card{
    max-width:90%;
    align-items: center;
}
@media screen and (max-width:574px){

.img-circle{
    min-height: 28px;
    min-width: 28px;
}


.card{
    max-width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
}
}

@media screen and (min-width:576px) and (max-width:992px)
{
.card{
    max-width: 100%;
}
}

